<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>videocall</title>
 <link rel="stylesheet" href="/index.css"/>
 <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="userlist"></div>
    <input type="text" id="inp" placeholder="write the name"><button id="adduser">Adduser</button>
    <div id="main">
        <div id="vd1"><video id="you" autoplay playsinline muted ></video></div>
        <div id="vd2"><video id="user" autoplay playsinline muted></video></div>
    </div>
    <script src="/index.js"></script>
</body>
</html>